<p>
  This workshop introduces high performance computing using 
  the Jackson Laboratory’s computing cluster. The goal 
  is to teach novice programmers to use powerful tools and 
  computing resources, and to engage in best practices 
  for using these resources. The emphasis of this workshop 
  is to give attendees a strong foundation in the fundamentals 
  of the bash shell and to teach best practices for 
  scientific computing in high performance computing environments. 
  By the end of this workshop, participants will be able to:
  * Use the UNIX command line to operate a computer, connect to a cluster, and write simple shell scripts. 
  * Submit and manage jobs on a cluster using a scheduler, transfer files, and use software through environment modules. 
</p>
