<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Pipes and Redirection</li>
      <li>Looping Over Files</li>
      <li>Creating and Running Shell Scripts</li>
      <li>Finding Things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
   <div class="col-md-6">
    <h3 id="syllabus-shell">High Performance Computing</h3>
    <ul>
      <li>Connect to a cluster</li>
      <li>Use a scheduler to submit and manage jobs</li>
      <li>Transfer files</li>
      <li>Use software through environment modules</li>
      <li><a href="https://hpc-carpentry.github.io/hpc-intro/">Reference...</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Containers with Singularity</h3>
    <ul>
      <li>Introduction to Singularity containers</li>
      <li>Interactive Exploration of Containers</li>
      <li>Build Your Own Containers</li>
      <li><a href="https://sylabs.io/docs/">Reference...</a></li>
    </ul>
  </div>
</div>
